body {
  font-family: "Josefin Sans", sans-serif;
  font-family: "Bebas Neue", cursive;
  margin: 0;
  padding: 0;
  background-image: url(../images/backgroundGeral.jpg);
  color: #f7f4f3;
}

.carousel {
  height: 400px;
}

.goToTop {
  border: none;
  background-color: transparent;
  position: fixed;
  bottom: 25px;
  right: 25px;
  color: #f7f4f3;
  font-size: 1.5rem;
  height: 3rem;
  outline: none;
  cursor: pointer;
}

@media screen and (min-width: 496px) {
  .goToTop {
    font-size: 2rem;
  }
}

/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: #f7f4f3;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #1b2845;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #bb8c4b;
}
